@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.container {
	padding-left: 50px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.arrow-down {
	background: #f3f3f3;
	position: relative;
	margin-bottom: 2em;
	padding: 1em;
	border-bottom: 1px solid #999;
}

.arrow-down:before, .arrow-down:after {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-bottom: 0;
	content: "";
}

.arrow-down:before {
	bottom: -16px;
	left: 12px;

	border-top-color: #777;
	border-width: 16px;
}

.arrow-down:after {
    bottom: -15px;
    left: 13px;
    border-top-color: #f3f3f3;
    border-width: 15px;
  }

 .arrow-left {
 	background: #f3f3f3;
	position: relative;
	margin-bottom: 2em;
	padding: 1em;
	border-left: 1px solid #999;
	height: 100px;
 }

 .arrow-left .arrow {
 	position: absolute;
 	left: -30px;
 	top: 50%;
 	width: 0;
 	height: 0;
 	border: 15px solid transparent;
 	border-right-color: #777;
 }

 .arrow:after {
 	position: absolute;
 	content: "";
 	width: 0;
 	height: 0;
 	top: -15px;
 	left: -14px;
 	border: 15px solid transparent;
 	border-right-color: #f3f3f3;
 }